<html>
 <head>
   <title>Severity Documentation</title>
		<link rel = "stylesheet" href="newmain.css">

  </head>
 <body bgcolor="#E6E6FA">
   <br>
   <br>
   <h1>Welcome to The_saviours!</h1>
   <h2>A minute saved, a life saved</h2>
   <p>Severity Documentation :</p>
    <li>level 3:Poison affected, Heart attack.</li>
    <br><br>
    <li>	level 2:road accidents,severe accident and unconcious </li>
    <br><br>
    <li>	level 1: High fever, accidents, patient unable to walk </li>
	<div >
   <nav>
      <ul>
         <li><a href="/">Home</a></li>
      </ul>
   </nav>
</div>
<div style="position: relative; width: 600px; height: 800px;">
    <div style="position: absolute; bottom: 5px;">
    AGS PRODUCTION (C)
    </div>
</div>
   </form>
  </body>
</html>
