{% load staticfiles %}
{% block content %}
<html>
		<link rel="stylesheet" href="{% static 'formstyle.css' %}">
 		<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


		
<nav>
    <div class="nav-wrapper">
      <a class="brand-logo"> The_Saviours</a>
      <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/severitydoc">Severity Documentation</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/severitydoc">Severity Documentation</a>
      </ul>
    </div>
  </nav>
<body>

<div class="container">

<form class="form-horizontal center-align card-panel hoverable col s10 l10 " method="post">
{% csrf_token %}
    <fieldset>
        <br>
        <h1 class="center-align">New Patient</h1>
        <br>
        {% for field in form %}

                <div class="input-field">
                    	{{ field }}
                    <label for= "">
                    	{{ field.label }}
                    </label>
        
                </div>
        {% endfor %}
    

    <div class="form-actions">
       <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
        </fieldset>
    </div>


</form>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
 		<!-- <script src= "{% static 'form.js'%}"></script> -->
 		<script>
 			
    $(".button-collapse").sideNav();
        
 		</script>
</div>	
</div>
</body>
 <footer class="page-footer">
          <div class="container">
<div class="footer-copyright">
            <div class="container center-align text-lighten-8">
            © 2016 Copyright @ AGS Productions
            </div>
          </div>
</div>
</footer>
</html>
{% endblock %}