{% load staticfiles %}
<html>
	<head>
		<title>The_saviours!</title>
		<link rel="stylesheet" href="{% static 'formstyle.css' %}">
		<script type="text/javascript" src="{% static 'admin/js/formpage.js' %}"></script>
	</head>
	<body bgcolor="#E6E6FA">
		<br>
		<br>
		<h1>Welcome to The_saviours!</h1>
		<h2>A minute saved, a life saved</h2>
		<p>Enter New patient's detail :</p>
		<form action ="/patient/" method="POST">
            {% csrf_token %}
			<label for="firstname">First Name :</label>
			<input type="text" name= "firstname" placeholder="Firstname"><br>
			<br>
			<label for="lastname">Last Name :</label>
			<input type="text" name="lastname" placeholder="Lastname"><br>
			<br>
			<label for="location">Location :</label>
			<input type="text" name="location" placeholder="Location" ><br>
			<br>
    		<label for="level">Severity Level :</label>			
			<select id="level" name="level">
      			<option value="1">level 1</option>
      			<option value="2">level 2</option>
      			<option value="3">level 3</option>
    		</select>			
			<br>
			<label for="age">Age :</label>
            <input type="number" name="age" placeholder="Age"><br>
            <br>
			<textarea name="comment" rows="5" cols="40" placeholder="Comments"></textarea>
			<br>
			Gender:
				<input name="gender" value="female" type= "radio"></input>
			Female 
				<input name ="gender" value="male" type="radio"></input>
			Male 
				<input name ="gender" value="other" type="radio"></input>
			Other
		<br>
		<input type="submit" value="Submit">
		</form>
        
		<br>
		<br>

		<nav >
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/severitydoc">Serverity documentation</a></li>
			</ul>
		</nav>
    </body>
</html>

<!--{% load staticfiles %}

{% block content %}
    <h1>New Patient</h1>
		<link rel="stylesheet" href="{% static 'formstyle.css' %}">
	    <body bgcolor="#E6E6FA">

        <form action = "" method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
            <input type="submit" value="Submit">
		</form>

{% endblock %}-->