<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="assets/img/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>The_Saviours</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="/static/css/bootstrap.css" rel="stylesheet" />
        <link href="/static/css/landing-page.css" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" />

    </head>
    <body class="landing-page landing-page1">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                    </button>
                    <div class="logo-container">
                            <div class="logo">
                                <img src="/static/img/icon.png" alt="logo">
                            </div>
                            <div class="brand">
                             The_Saviours
                            </div>
                        </div>
                    
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="example" >
                    
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient blue" data-color="blue">
                <div class="parallax-background">
                    <img class="parallax-background-image" src="/static/img/city.jpg">
                </div>
                <div class= "container">
                    <div class="row">
                        <div class="col-md-5 hidden-xs">
                  <!-- gif image  -->
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="description">
                                <h1> The_Saviours</h1>
                                <br>
                                <h5>We at The_Saviours are ready to revamp the current trasportation of Ambulances to a new more efficient and tech-savy level, by adding our extention to the current system.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <h4 class="header-text">Let's have a look</h4>   
                </div>
            </div>

            <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="description">
                                <h4 class="header-text">The Current System</h4>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 hidden-xs">
                            <!-- gif -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-demo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- gif -->
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h4 class="header-text">Our Proposed Extention</h4>
                            <p>
                               Here comes The_Saviours
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-features">
                <div class="container">
                    <h4 class="header-text text-center">Features</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-note2"></i>
                                </div>
                                <div class="text">
                                    <h4>Online Patient info Submission</h4>
                                    <p>All appointments sync with your Google calendar so your availability is always up to date. See your schedule at a glance from any device.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-bell"></i>
                                </div>
                                <h4>Notify the nearest ambulance</h4>
                                <p>Automatic text and email reminders make sure customers always remember their upcoming appointments.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-graph1"></i>
                                </div>
                                <h4>Ambulance Corridor</h4>
                                <p>Take payments and run your business on the go, in your store and then see how it all adds up with analytics.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="section section-no-padding">
                <div class="parallax filter-gradient blue" data-color="blue">
                    <div class="parallax-background">
                        <img class ="parallax-background-image" src="assets/img/template/bg3.jpg"/>
                    </div>
                    <div class="info">
                        <h1>LOG IN</h1>
                  
                        <h4>Go ahead and serve the humanity.</h4>
                        <a href="/login" class="btn btn-neutral btn-fill btn-lg">Get Started</a>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="social-area pull-right">
                        <a class="btn btn-social btn-facebook btn-simple">
                        <i class="fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-social btn-twitter btn-simple">
                        <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-pinterest btn-simple">
                        <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <div class="copyright">
                        &copy; 2016 @ AGS Production
                    </div>
                </div>
            </footer>
        </div>

    </body>
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript"></script>
    <script src="/static/js/awesome-landing-page.js" type="text/javascript"></script>
</html>
