{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <title>The_Saviours</title>
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="/static/css/bootstrap.css" rel="stylesheet" />
        <link href="/static/css/landing-page.css" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" />
<style>
body{
    background:  #417cb4  !important;
}
    .brand{
        padding-top: 7px;
    }
</style>
    </head>
    <div class="container-fluid">
    <body class="landing-page ">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="logo-container">
                        <div class="logo">
                            <img src="/static/img/icon1.png" alt="logo">
                        </div>
                        <div class="brand">    
                        </div>
                    </div> 
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient blue" data-color="blue">
                <div class="parallax-background">
                    <img class="parallax-background-image" src="/static/img/city.jpg">
                </div>
                <div class= "container">
                    <div class="row">
                   <div class="col-md-6"></div>
                        <div class="col-md-6 ">
                            <div class="description" >
                                <h2><b>The_Saviours</b></h2>
                                <br>
                                <h5 >We at The_Saviours are ready to revamp the current trasportation of Ambulances to a new more efficient and tech-savy level, by adding our extention to the current system.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <h4 class="header-text">Let's have a look</h4>   
                </div>
            </div>

            <div class="section ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="description">
                                <h4 class="header-text">The Current System</h4>
                                <p>
                                Patient calls 108, picked up by the ambulance call center. Patient gives his/her information. 
                                </p>
                                <p>
                                Call center forwards the information to regional ambulance center. Any random ambulance is alloted the task to serve the patient. 
                                </p>
                                <p>
                                After dropping the Patient to the his/her choice of hospital / or to the nearest hospital in case of emergency, ambulance returns to the ambulance center, usually located at the govt. hospitals.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-12 col-md-offset-1 ">
                           <h5 style="margin-top: 0px">Common scenario :</h5>
                           <img class="img-responsive img-container" src="/static/img/amb1.jpg" style="margin-top: 20px"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ">
                        <h5 style="margin-top: 30px">Server + Micro-controllers into action = Green signal for ambulance.</h5>
                           <img class="img-responsive img-container" src="/static/img/amb3.jpg" style="margin-top: 60px"/>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                        <br><br>
                            <h4 class="header-text">Our Proposed Extention</h4>
                            <p>
                               Patient calls 108, picked up by the ambulance call center. Patient gives his/her information. Call center uploads this information on The_Saviours website.
                               </p>
                               <p>
                                All the ambulance are equipped with Smartphones with The_Saviours Application. The nearest ambulance is identified and is alloted the task to serve the patient. The Ambulance is also alloted the shortest path to the patient through the The_Saviours application.
                                </p>
                                <p>
                                 Traffic lights at each crossing are notified about the incoming ambulance as soon as the ambulance reaches under the 300 m threshold, simultaneously traffic lights are changed to give a free way for the lane in which the ambulance stands.
                                </p>
                                <p>
                                  The same process repeats itself at each crossing. After dropping the Patient to the his/her choice of hospital / or to the nearest hospital in case of emergency, ambulance doesn not return to the ambulance center, ready for the next service if it is the nearest one.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
			

            <div class="section section-features">
                <div class="container">
                    <h4 class="header-text text-center">Features</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-note2"></i>
                                </div>
                                <div class="text">
                                    <h4>Online Patient info Submission</h4>
                                    <p>Direct data feeding to the server. No further calls. Everything is going to be automatic.</p>
                                    <h3>..saved few seconds</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-bell"></i>
                                </div>
                                <h4>Notify the nearest ambulance</h4>
                                <p>Automatic text notification to the nearest ambulance, makes sure patient is served as soon as possible by following the shortest path as according to Google Maps, real time location tracking of the ambulance.</p>
                                <h3>..saved few seconds</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-graph1"></i>
                                </div>
                                <h4>Ambulance Corridor</h4>
                                <p>Green lights for ambulance as it approches to crossings. Micro-controllers controlling a series of relays to control the lights, taking instructions from the server using GSM module.</p>
                                <h3>..saved few seconds</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="section section-no-padding">
                <div class="parallax filter-gradient blue" data-color="blue">
                    <div class="parallax-background" >
                        <img class ="parallax-background-image" src="/static/img/city.jpg"/>
                    </div>
                    <div class="info"> 
                    <h1>LOG IN</h1>                 
                        <h5>Go ahead and serve the humanity.</h5>
                        <a href="/login" class="btn btn-neutral btn-fill btn-lg">Get Started</a>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="">
                    <div class="copyright">
                        &copy; 2016 @ AGS Production
                    </div>
                </div>
            </footer>
        </div>
</div>
    </body>
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript"></script>
    <script src="/static/js/awesome-landing-page.js" type="text/javascript"></script>


</html>
