{% load staticfiles %}

 <!DOCTYPE html>
<html>
	<head>
	<!--<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />-->
	<link rel="stylesheet" href="{% static 'style.css' %}">
		<title>Home</title>
		<br>
		<br>
			<h1>Welcome to The_saviours!</h1>
			<h2>A minute saved, a life saved</h2>
		<script src="http://maps.googleapis.com/maps/api/js"></script>
		<script>
			function initialize() {
			var mapProp = {
			center:new google.maps.LatLng(25.2682211,82.9900223),
			zoom:13,
			mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
			}
			google.maps.event.addDomListener(window, 'load', initialize);//event listener to load the map
		</script>
	</head>
		<body bgcolor="#E6E6FA">
		<div id="googleMap" style="position: absolute;top:70px; right:50px; width:800px;height:480px;"></div>
		<br>
		<l><b>For new patient =></l>  <a href="/patient">Click here</b></a>
		<br>
		<br>
		<l>Location of Ambulances in the city:</l>
		<p></p>
		<div>
			<nav>
				<ul>
					<li><a href="/severitydoc">Serverity documentation</a></li>
				</ul>
			</nav>
		</div>
			<div style="position: relative; width: 600px; height: 800px;">	
    		<div style="position: absolute; bottom: 5px;">
    		AGS PRODUCTION (C)
   	    </div>	
	</div>
  </body>
</html>
