{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" data-form-id="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
 

    <script src="https://d3k90kvix375hb.cloudfront.net/assets/application-21d566432540f4a3c2cbe98dea68bd754230fd5ffbfc1741dc33302850bce681.js"></script>

    <link rel="stylesheet" media="all" href="https://d3k90kvix375hb.cloudfront.net/assets/application-053753eaae41e046321bb7326e03814dfb8377e0d99331b2dda585ef00f6146a.css" />
    
  </head>

  <body class="home-page">
        <div class="page-content">
        <div class="wrapper">
<div class="purple">
  <section class="scrubber center">
  <div class="wrapper wrapper-lg">
    <div class="content">
      <h2>To Dwell more deeper</h2>
    </div>

    <div class="scrubber-stage">
      <div class="scrubber-left">
        <img alt="Write code" src="/static/img/scrubber_l.png" />
      </div>
      <div class="scrubber-middle">
        <div id="scrubber-handle" style="left: 0;"></div>
        <div class="scrubber-before" style="width: 100%;">
          <h4>&hellip;what you don't</h4>
          <div></div>
        </div>
        <div class="scrubber-after" style="width: 0%;">
          <h4>What you see..</h4>
          <div></div>
        </div>
      </div>
      <div class="scrubber-right">
        <img alt="Deploy" src="/static/img/scrubber_r.png" />
      </div>
    </div>
  </div>
</section>

 

    <script src="https://d3k90kvix375hb.cloudfront.net/assets/pages/home-772063b9366c45680e88bf85285e04adf7e956108af57a28ab01ad6853d08cc0.js"></script>
  </body>
</html>

<!-- {% load staticfiles %}
1
<!DOCTYPE html>
<html lang="en" data-form-id="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="https://d3k90kvix375hb.cloudfront.net/assets/favicon-82f8669f6323129704e02b6db377deaa68f30823915273d895c95d323692fc91.ico" />

    

    <link rel="stylesheet" media="all" href="https://d3k90kvix375hb.cloudfront.net/assets/application-053753eaae41e046321bb7326e03814dfb8377e0d99331b2dda585ef00f6146a.css" />
<style type="text/css">
   .wrapper { background:  #62589b  !important; } 
</style>
  </head>

  <body >
        <div class="page-content">
        <div class="wrapper">

  <section class="scrubber center">
  <div class="wrapper wrapper-lg">

      <h2 style=" color:white;"> Let's look inside</h2>
       <div class="scrubber-stage">
     
      <div class="scrubber-left">
        <img  src="/static/img/scrubber_l.png" />
      </div>
      
      <div class="scrubber-middle">
        <div id="scrubber-handle" style="left: 0;"></div>
       
        <div class="scrubber-before" style="width: 100%;">
          <h4>&hellip;Behind the scenes</h4>
          <div></div>
        </div>
        
        <div class="scrubber-after" style="width: 0%;">
          <h4>What you see..</h4>
          <div></div>
        </div>
      </div>
      
      <div class="scrubber-right">
        <img alt="D" src="/static/img/scrubber_r.png" />
      </div>
    </div>
  </div>

    <script src="https://d3k90kvix375hb.cloudfront.net/assets/pages/home-772063b9366c45680e88bf85285e04adf7e956108af57a28ab01ad6853d08cc0.js"></script>
    <script src="https://d3k90kvix375hb.cloudfront.net/assets/application-21d566432540f4a3c2cbe98dea68bd754230fd5ffbfc1741dc33302850bce681.js"></script>
  </body>

</html>
 -->