{% load staticfiles %}

<html>
 <head>
   <title>Severity Documentation</title>

  <link rel="stylesheet" href="/static/css/sdocstyle.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  </head>
   <nav class="navbar navbar-default ">
        <div class="container-fluid">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand"> 
            <img alt="The_Saviours" src="/static/img/icon.png"></a>
               <a class="navbar-brand">The_Saviours</a>
          </div>
          <div class="navbar-collapse collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
                  <li><a href="/mainpage"> HOME </a></li>
                  <li class:"active"><a >Severity Documentation</a></li>
                  <li><a href="/logout">Logout</a></li>
          </ul>
          </div>
        </div><!-- /.container-fluid -->
    </nav>

      
   <body >
   <div class="container">
 <h1>Welcome to The_saviours!</h1>
       <h2>A minute saved, a life saved</h2>
       <br>
         <p><b>Severity Documentation :</b></p>
         <br>
            <li>level 3 : Poison affected, Heart attack.</li>
            <br><br>
            <li>  level 2 : Road accidents,severe accident and unconcious. </li>
            <br><br>
            <li>  level 1 : High fever, accidents, patient unable to walk. </li>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  </body>


</html>
